body {
  font-family: 'Play', Arial, sans-serif;
}

header{
  background: url("../images/header-bg-img.png");
  padding-bottom: 40px;
}

.container {
  width: 940px;
}

.container-fluid{
  margin-top: 10px;
  margin-bottom: 80px;
}

// Header
.navbar-header {

  .navbar-brand {
      & > img{
        margin-right: 30px
      }
  }

  .navbar-right {
    a {
      max-width: 130px;
      color: #fff;
      padding: 25px 10px;
      text-align: center;
      font-size: 16px;
    }

    li {
      a:not(.dropdown-toggle) {
        &:hover {
          background: transparent;
          text-decoration: underline;
        }

      }
    }

    .language-switcher {
      padding-left: 10px;

      & > {
        a {
          background: #00f;
          color: #fff;
          padding: 2px 4px 2px;
          margin-top: 28px;
          border-radius: 7px
        }

        .dropdown-menu {
          min-width: 36.93px;
          margin-top: 2px;
          border: none;
          border-radius: 7px;
          padding: 0;

          li {
            &:first-child {
              a {
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
              }
            }

            &:last-child {
              a {
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
              }
            }

            a {
              color: black;
              padding: 1px 5px;
              text-align: center;

              &:hover {
                color: #ffffff;
                background: blue;
                text-decoration: none;
              }
            }
          }
        }
      }

    }
  }
}

.start-date {
  margin-bottom: 40px;

  p {
    margin: 0;
    font-weight: bold;
    color: #ffffff;

    &:nth-child(1) {
      font-size: 56px;
      line-height: 1.1;
      margin-left: -3px;
    }

    &:nth-child(2) {
      font-size: 20px;
    }

    &:nth-child(3){
      font-weight: normal;
    }
  }
}

.header-text {
  margin-bottom: 70px;

  p {
    &:first-child {
      font-size: 25px;
      line-height: 0.8;
      color: #ffffff;
    }

    &:last-child {
      line-height: 1.2;
      font-size: 36px;
      font-weight: 700;
      color: #f09011;
    }
  }
}

.register-btn{
  background: #fecd28;
  color: #000200;
  font-size: 24px;
  padding: 30px 27px;
  border-radius: 0;
}

